<a href="https://colab.research.google.com/github/nasif-raihan/Ml-and-DL-Codes/blob/main/Logistic_Regression_creditData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from google.colab import drive

In [ ]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
path = '/content/drive/MyDrive/Colab Notebooks/Datasets/Datasets/credit_data.csv'

dataset = pd.read_csv(path)

dataset.head(1)

   clientid        income        age         loan       LTI  default
0         1  66155.925095  59.017015  8106.532131  0.122537        0

In [ ]:
dataset.describe()

          clientid        income  ...          LTI      default
count  2000.000000   2000.000000  ...  2000.000000  2000.000000
mean   1000.500000  45331.600018  ...     0.098403     0.141500
std     577.494589  14326.327119  ...     0.057620     0.348624
min       1.000000  20014.489470  ...     0.000049     0.000000
25%     500.750000  32796.459717  ...     0.047903     0.000000
50%    1000.500000  45789.117313  ...     0.099437     0.000000
75%    1500.250000  57791.281668  ...     0.147585     0.000000
max    2000.000000  69995.685578  ...     0.199938     1.000000

[8 rows x 6 columns]

In [ ]:
dataset.corr()

          clientid    income       age      loan       LTI   default
clientid  1.000000  0.039280 -0.030341  0.018931  0.002538 -0.020145
income    0.039280  1.000000 -0.034984  0.441117 -0.019862  0.002284
age      -0.030341 -0.034984  1.000000  0.006561  0.021588 -0.444765
loan      0.018931  0.441117  0.006561  1.000000  0.847495  0.377160
LTI       0.002538 -0.019862  0.021588  0.847495  1.000000  0.433261
default  -0.020145  0.002284 -0.444765  0.377160  0.433261  1.000000

In [ ]:
features = dataset[['income', 'age', 'loan']]
target = dataset[['default']]

In [ ]:
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.3)

In [ ]:
model = LogisticRegression()
model.fit(features_train, target_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
prediction = model.predict(features_test)

In [ ]:
print(confusion_matrix(target_test, prediction))
print(accuracy_score(target_test, prediction))

[[508   9]
 [ 38  45]]
0.9216666666666666